#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    height: 600px;
    border-style: solid;
    border-width: 3px;
}

.pixel,
.vertical,
.horizontal {
    display: flex;
    flex: 1 1 auto;
    background-color: red;
    border-style: solid;
    border-width: 1px;
}

.vertical {
    background-color: aqua;
}

.horizontal {
    background-color: blueviolet;
}